* {
    box-sizing: border-box;
}

.board {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    font-size: 0;
}

.board div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid grey;
}

#round {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: cornflowerblue;
}

#scores {
    font-size: 30px;
    padding: 30px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}